html {
  scroll-behavior: smooth;
 
  
}

body {
  // background-color: var(--colorPrimaryBlue);
  background-color: var(--colorWhite);
  color: var(--text-color);
  font-family: var(--font-main);
  // font-size: var(--baseFontSise);
  font-size: clamp(14px, 2vw, 16px);  
  font-weight: 400;


}

.main {
  position: relative;
  z-index: 0;
}



.container {
  margin: 0 auto;
  padding-left: 13px;
  padding-right: 13px;
  max-width: 1140px;
}







// 
.tagline {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--colorBlack);
  font-size: clamp(12px, 2vw, 14px); 
  font-weight: 600;
}

.tagline::before {
  content: '';
  display: block;
  height: 1px;
  width: 20px;
  background-color: var(--colorBlack);
}

.heading {
  font-size: clamp(28px, 6vw, 40px); 
  font-weight: 700;
  line-height: clamp(28px, 6vw, 48px); 
}

// btn
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(10px, 3vw, 12px) 24px; 
  border-radius: 25px;
  color: var(--colorPrimaryBlue);
}

.bold {
  font-weight: 600;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-b-16 {
  margin-bottom: 16px;
}

/* js style scroll*/
.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

// error validations
.requisition__input.form__is-invalid,
.callme__input.form__is-invalid{
  border: 1px solid #e62e2e;
}

.just-validate-error-label {
  text-align: center;
}



// слайдер carusel



.f-carousel__dots {
  // display: flex;
  // justify-content: center;
  // gap: 16px;
  // padding-top: 40px;

}

.f-carousel__dot {
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color .8s;
  &:hover {
      background-color: var(--colorPrimaryYellow);
  }
}

.is-current > button > .f-carousel__dot {
  background-color: var(--colorWhite);
  border: 1px solid var(--colorPrimaryBlue);
}

// опускаем в низ точки в контейнере
.f-carousel__dots li button {
  align-items: end;
}

// .carusel {
//   margin: 100px 0;
//   background-color: antiquewhite;
// }

.f-carousel {
  // --f-carousel-spacing: 25px;
  // --f-carousel-slide-width: 100%;
}

.f-carousel__slide {
  // тут еще считаются отступы
  // width: calc((100% - 16px) / 3);

  // width: var(--slider-carousel-width);
  // width: 100%;
// --f-carousel-slide-width: 50px;

}

.f-carousel {
  --f-carousel-spacing: var(--slider-spacing);


  --f-button-width: 40px;
  --f-button-height: 40px;

  --f-button-svg-width: 24px;
  --f-button-svg-height: 24px;
  --f-button-svg-stroke-width: 3;

  --f-button-color: var(--colorWhite);
  --f-button-border-radius: 50%;
  --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0
          0 / 30%);

  --f-button-bg: var(--colorPrimaryBlue);
  --f-button-hover-bg: var(--colorPrimaryBlue);
  --f-button-active-bg: #0d4984;


  // --f-button-next-pos: 10px;
  // --f-button-prev-pos: 10px;
  --f-button-next-pos: 0;
  --f-button-prev-pos: 0;


}

.f-button:hover svg path {
  stroke: var(--colorPrimaryYellow)
}

.f-button:active svg path {
  
  stroke: var(--colorPrimaryYellow);
  
}

.swiper-slide-img {
  border-radius: 25px;
  // width: 296px;
  // height: 246px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-link {
  display: block;
  width: 100%;
  height: 100%;
 
  border-radius: 25px;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid var(--colorPrimaryBlue);
  }
}



// fancybox
// .fancybox__content img {
//   border-radius: 25px;
// }

.fancybox__content {
  border-radius: 25px;
}

.is-compact .fancybox__footer .fancybox__caption {
  text-align: center;
}




// текст политики конфиденциальности
.text-policy {
  font-size: 10px;
}

.text-policy__policy-link {
  text-decoration: underline;
  color: var(--colorPrimaryBlue);
}










/* btn-up */
.btn-up {
  visibility: hidden;
  display: flex;
  position: fixed;
  left: 1%;
  bottom: 10px;
  z-index: 2;
  align-items: center;
  padding: 15px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.25);
  background-color: #234669;
  transition: visibility 0.9s ease, opacity 0.9s ease-in-out, background-color .3s;

}

.btn-up__svg {
  width: 50px;
  height: 50px;
}

.btn-up__svg path {
  fill: var(--colorWhite);
}

.btn-up:hover {
  background-color: var(--colorPrimaryBlue);
}

.btn-up.btn-up--show {
  visibility: visible;
  opacity: 1;
}


/* link Whatsapp */
.link-whatsapp {
  position: fixed;
  bottom: 10px;
  right: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  border-radius: 25px;
  background-color: #25D366;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  opacity: 0;

  /* transform: translateX(-100px); */


  /* transition: background-color .3s; */

  transition: background-color .3s;
  /*Скорость перехода состояния элемента*/

  /* Указываем название анимации, её время и количество повторов*/
  animation: bounceInRight 1s 1;

  /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-fill-mode: forwards;
  /* Задержка перед началом */
  animation-delay: .5s;

}

.link-whatsapp:hover {
  background-color: #019939;
}

.link-whatsapp__svg {
  display: block;
  width: 30px;
}

.link-whatsapp__svg path {
  fill: var(--colorWhite);
}

@keyframes bounceInRight {
  60%, 75%, 90%, from, to {
      animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  }
  from {
      opacity: 0;
      transform: translate3d(3000px, 0, 0)
  }
  60% {
      opacity: 1;
      transform: translate3d(-25px, 0, 0)
  }
  75% {
      transform: translate3d(10px, 0, 0)
  }
  90% {
      transform: translate3d(-5px, 0, 0)
  }
  to {
      opacity: 1;
      transform: none
  }
}








  @media (max-width: 1024px) {
	.container {
    padding-left: clamp(5px, 2vw, 42px); 
    padding-right: clamp(5px, 2vw, 42px);
	}
  }




@media (max-width: 650px) {
  .container {}
}








/* 350 */
// @media (max-width: 414px) {
//   .container {
//     padding: 0 5px;
//   }

// }





/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"], 
  input[type="tel"], input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="tel"], input[type="url"]{ font-size: 16px; }
}