// .none {
// 	display: none !important;
// }


// стили для текстового редактора Wordpress

.text-processing p {
    padding: 5px 0 5px 0;
}

.text-processing ol,
.text-processing ul {
    padding: 5px 40px 5px;
}

.text-processing ul {
    list-style-type: disc;
}

.text-processing li {
    padding-bottom: 5px;
}

.text-processing h2 {
    padding: 5px 0 5px 0;
    font-size: clamp(18px, 6vw, 28px); 
    font-weight: 700;
}

.text-processing h3 {
    padding: 5px 0 5px 0;
    font-size: clamp(17px, 6vw, 24px); 
    font-weight: 700;
}

.text-processing a {
	cursor: pointer;
	color: #ff3b00;
	border-bottom: 1px solid #ff3b00;
	// text-decoration: underline;
	transition: color .2s, border-bottom .2s;
}

.text-processing a:hover {
	color: #0607ff;
	border-bottom: 1px solid #0607ff;
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

/* блик */
.blick {
	position: relative;
	overflow: hidden;
	will-change: transform;

}

.blick::before {
	content: '';
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0; 
	left: 0;
	opacity: 0.5;
	
	background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
	transform: translate(0%, -25%) rotate(0deg);
	animation: blick 5s infinite;

}

@keyframes blick {
	0% {
	  transform: translate(-100%, -25%) rotate(0deg);
	}
	20% {
	  transform: translate(100%, -25%) rotate(0deg);
	}
	100% {
	  transform: translate(100%, -25%) rotate(0deg);
	}
  }


/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"] {
		font-size: 16px;
	}
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"] {
		font-size: 16px;
	}
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="url"] {
		font-size: 16px;
	}
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="tel"],
	input[type="url"] {
		font-size: 16px;
	}
}



