:root {

	--colorPrimaryBlue: #082D53;
	--colorPrimaryYellow: #FFD974;
	--colorBg: #f8f8f8;
	--colorGrey: #d9d9d9;
	--colorGrey-2: #A7A7A7;
	--colorGrey-3: #F1F1F1;
	--colorWhite: #fff;
	--colorWhite-2: #ffffff88;

	--colorWhite-3: #ffffff3f;
	
	--colorCR: #d9d9d985;


	// --colorWhite: #969595;


	--colorSecondaryBlue: #1d69b7;
	--colorSecondaryBlue2: #4b82b8;
	
	--colorHoverBtn: #ffc731;
	--colorHoverBtn2: #fbe880;

	--colorBlack: #111111;
	--color: #ffbb00;
	
	--color: #b4930c;

	







	
	--page-bg: #fff;
    --text-color: #111111;
	--font-main: 'montserrat';
	--baseFontSise: 16px;



  }