:root {

	--page-bg: #fff;
    --text-color: #111111;
	--font-main: 'montserrat';



	--colorPrimaryBlue: #082D53;
	--colorPrimaryYellow: #FFD974;
	--colorBg: #f8f8f8;
	--colorGrey: #d9d9d9;
	--colorGrey-2: #A7A7A7;
	--colorWhite: #fff;
	--colorSecondaryBlue: #1d69b7;
	--colorBlack: #111111;
	--color: #ffbb00;
	--color: #ffc731;
	--color: #b4930c;
	--colorCR: #d9d9d985;





  }