.footer {
	background-color: rgb(84, 225, 41);
	padding: 50px 0;
	font-size: 32px;
    color: #fff;


    .test {
		background-color: aquamarine;
	}


	.test {
		margin: 50px;
	}


	h1 {
		font-size: 32px;
	}

	@media (max-width: 1200px) {
		font-size: 26px;
	}
}


