.about {
    padding-top: var(--paddigTopSections);
    padding-bottom: var(--paddigBottomSections);
}

.about__container {
}

.about__heading {
    // margin-bottom: 16px;
    margin-bottom: 8px;
}
.about__text {
}