.achievements {
    padding-top: var(--paddigTopSections);
    padding-bottom: var(--paddigBottomSections);
}

.achievements__container {}

.achievements__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.achievements__item {
    display: flex;
    padding: 16px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #082D53;
    font-feature-settings: "tnum";
}

.achievements__text {
    // display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.achievements__digital {
    // text-align: center;
    color: var(--colorPrimaryBlue);
    font-size: 55px;
    font-weight: 700;
}

.achievements__count {
    
    
}

.achievements__digital-suf {
  
    // font-feature-settings: "tnum";

}


.achievements__bottom-text {}

// модификатор single
.achievements.achievements--single {
    background-color: var(--colorPrimaryBlue);
}

.achievements.achievements--single .achievements__container .achievements__item {
    color: var(--colorWhite);
    border: 1px solid var(--colorWhite);
}

.achievements.achievements--single .achievements__container .achievements__item .achievements__digital {
    color: var(--colorWhite);
}

@media (max-width: 1024px) {
    .achievements__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .achievements__digital {
        font-size: clamp(35px, 8vw, 55px);
    }

    .achievements__list {
        gap: clamp(10px, 3vw, 18px);
    }
}

@media (max-width: 500px) {
    .achievements__list {
        grid-template-columns: repeat(1, 1fr);
    }
}