.contacts {
    padding: 24px 0;
    background-image: url('.././img/contact-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
}

.contacts__list {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;

}

.contacts__item {
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--colorWhite);
}


.contacts__img--location {
    background:
        url('.././img/locations.svg'),
        linear-gradient(var(--colorPrimaryYellow) 100%, rgba(255, 255, 255, 0) 0%);
    background-position: center;
}

.contacts__img--time {
    background:
        url('.././img/time.svg'),
        linear-gradient(var(--colorPrimaryYellow) 100%, rgba(255, 255, 255, 0) 0%);
    background-position: 47% 47%;
}

.contacts__img--mail {
    background:
        url('.././img/mail.svg'),
        linear-gradient(var(--colorPrimaryYellow) 100%, rgba(255, 255, 255, 0) 0%);
    background-position: 50% 31%;
}

.contacts__img--call {
    background:
        url('.././img/call.svg'),
        linear-gradient(var(--colorPrimaryYellow) 100%, rgba(255, 255, 255, 0) 0%);
    background-position: center;
}

.contacts__link {
    transition: color .2s;

    &:hover,
    &:focus {
        color: var(--colorPrimaryYellow);
    }
}



.contacts__img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-repeat: no-repeat;
}

.contacts__text {}



@media (max-width: 1024px) {
    .contacts__list {
        grid-template-columns: repeat(2, auto);
        gap: 32px;
    }
}

@media (max-width: 500px) {
    .contacts__list {
        grid-template-columns: repeat(1, auto);
        gap: 18px;
        font-size: 16px;
    }
}