.header {
    // padding-top: 10px;
    // padding-bottom: 10px;
}

// TOP
.header__top {

    // height: 50px;
}

.header__container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.header__logo {
    height: 43px;
}

.header__alarm-text {
    color: var(--colorPrimaryBlue);
    font-size: 16px;
    font-weight: 600;

}

.header__call-btn {
    min-width: 208px;
    background-color: var(--colorPrimaryYellow);
    // color: var(--colorPrimaryBlue);
    color: var(--colorBlack);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    transition: background-color .1s;

    &:hover,
    &:focus {
        background-color: var(--colorHoverBtn);
    }

    &:active {
        background-color: var(--colorHoverBtn2);
    }

}

.--call-form-open {}

.header__tel {
    color: var(--colorPrimaryBlue);
    font-size: 20px;
    font-weight: 600;
    transition: color .1s;

    &:hover,
    &:focus {
        color: var(--colorSecondaryBlue);
    }
}

.header__tel-svg {
    margin-right: 10px;

}

.header__tel-svg path {
    fill: currentColor;
}





// BOTTOM
.header__bottom {
    background-color: var(--colorBg);
}

.header__container-bottom {}

.--bottom-call-btn {
    display: none;
}

.burger {}

.header__burger {
    display: none;
}


.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header__nav {}

.nav__list {
    display: flex;
    justify-content: space-between;
    // min-width: 868px;
    flex-basis: 868px;
    gap: 10px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;

}

.nav__item {}

.nav__link {
    position: relative;
    border: solid 1px transparent;
    color: var(--colorBlack);
    font-size: inherit;
    font-weight: inherit;

    transition: color .2s;


    &:hover,
    &:focus {
        color: var(--colorSecondaryBlue);
    }

    &:active {
        color: #ffbb00;
    }


    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        right: 0;
        height: 2px;
        width: 100%;
        transform: scale(0, 1);
        transition: transform .2s;
        background: var(--colorBlack);
        transform-origin: center top;
    }


    &.nav__link--active:after {
        transform: scale(1, 1);
    }


    &:hover:after,
    &:hover:focus {
        transform: scale(1, 1);
    }



}