.information {
    background-color: var(--colorBg);
    padding-top: var(--paddigTopSections);
    padding-bottom: var(--paddigBottomSections);
}

.information__heading {
    margin-bottom: 8px;
}

.information__btn-wrap {
    display: flex;
    justify-content: center;
    padding: 32px 0 16px 0;
}

.information__add-block {
    display: none;
}

.information__add-block--show {
    display: block;
}

.information__btn {
    text-transform: uppercase;
    color: var(--colorWhite);
    background-color: var(--colorPrimaryBlue);
    transition: color, background-color .2s;

    &:hover,
    &:focus {
        background-color: var(--colorSecondaryBlue);
    }

    &:active {
        background-color: var(--colorSecondaryBlue2);
    }
}

@media (max-width: 768px) {
    .information__btn {
        width: 100%;
    }

    .information__btn-wrap {
        padding: 16px 0;
    }
}