.requisition {
    padding: 64px 0;
    background-color: var(--colorGrey-3);
}

.requisition__container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


.requisition__heading {
    margin-bottom: 32px;
}


.anchor-requisition {
    margin-top: -64px;
    padding-top: 64px;
}

//   ###### left
.requisition__wrap-left {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    // width: 100%;
    max-width: 580px;
    // height: 100%;
    // background-color: #a4ff95;
}


.requisition__form {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 40px 42px;
    // margin-top: 32px;
    // height: 179px;
    border-radius: 25px;
    background-color: var(--colorWhite);
    // box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 4px 15px 15px rgba(0, 0, 0, 0.05);
}

.requisition__input {
    padding: 18px 24px;
    color: var(--colorBlack);
    border-radius: 25px;
    background-color: var(--colorBg);
}

.requisition__textaria {
    padding: 18px 24px;
    color: var(--colorBlack);
    border-radius: 25px;
    background-color: var(--colorBg);
    resize: none;
}

.requisition__input::placeholder {
    color: var(--colorGrey-2);
}

.requisition__textaria::placeholder {
    color: var(--colorGrey-2);
}

.requisition__btn {
    font-size: 18px;
    font-weight: 600;
    color: var(--colorWhite);
    background-color: var(--colorPrimaryBlue);
    transition: color, background-color .2s;

    &:hover,
    &:focus {
        background-color: var(--colorSecondaryBlue);
    }

    &:active {
        background-color: var(--colorSecondaryBlue2);
    }
}

.requisition__text-policy {
    font-size: 10px;
}

.requisition__policy-link {
    text-decoration: underline;
    color: var(--colorPrimaryYellow);
}

//   ###### right
.requisition__wrap-right {

    display: flex;
    flex-direction: column;
    // margin-bottom: 80px;
    padding: 40px 21px;

    // min-height: 700px;
    height: 600px;

    max-width: 485px;
    // max-width: 388px;
    // width: 80%;
    border-radius: 25px;
    // background-color: antiquewhite;

    background-image: url('.././img/requisition-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.requisition__box-message {
    margin-top: auto;
    padding: 28px 32px;
    border-radius: 25px;
    background-color: var(--colorPrimaryYellow);
}

.requisition__heading-message {
    margin-bottom: 18px;
    color: var(--colorBlack);
    font-size: 30px;
    font-weight: 700;
    color: #111;
    line-height: 30px;


}

.requisition__text-message {}


@media (max-width: 1024px) {

    .requisition__container {
        flex-direction: column;
        gap: 64px;

    }

    .requisition__wrap-left {
        order: 1;
        max-width: 100%;
    }

    .requisition__wrap-right {
        order: 0;
        padding: 0;
        max-width: 100%;
    }

    .requisition__wrap-right {
        height: 530px;
    }


}

@media (max-width: 768px) {
    .requisition__form {
        // padding: 20px 8px;

        padding: clamp(32px, 3vw, 40px) clamp(8px, 3vw, 42px); 
    }
}


// anchor для формы
@media (max-width: 650px) {
 .anchor-requisition {
    padding-top: 97px;
    margin-top: -97px;
 }
}