.requisition {
    padding: 64px 0;
    background-color: var(--colorGrey-3);
}

.requisition__container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.requisition__heading {
    margin-bottom: 32px;
}

.anchor-requisition {
    margin-top: -64px;
    padding-top: 64px;
}

//   ###### left
.requisition__wrap-left {
    display: flex;
    flex-direction: column;
    max-width: 580px;
}

.requisition__form {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 40px 42px;
    border-radius: 25px;
    background-color: var(--colorWhite);
    box-shadow: 0px 4px 15px 15px rgba(0, 0, 0, 0.05);
}

.requisition__input {
    padding: 18px 24px;
    color: var(--colorBlack);
    border-radius: 25px;
    background-color: var(--colorBg);
    border: 1px solid transparent;
}

.requisition__textaria {
    padding: 18px 24px;
    color: var(--colorBlack);
    border-radius: 25px;
    background-color: var(--colorBg);
    resize: none;
}

.requisition__input::placeholder {
    color: var(--colorGrey-2);
}

.requisition__textaria::placeholder {
    color: var(--colorGrey-2);
}

.requisition__btn {
    font-size: 18px;
    font-weight: 600;
    color: var(--colorWhite);
    background-color: var(--colorPrimaryBlue);
    transition: color, background-color .2s;

    &:hover,
    &:focus {
        background-color: var(--colorSecondaryBlue);
    }

    &:active {
        background-color: var(--colorSecondaryBlue2);
    }
}

//   ###### right
.requisition__wrap-right {
    display: flex;
    flex-direction: column;
    padding: 40px 21px;
    height: 600px;
    width: 100%;
    max-width: 485px;
    border-radius: 25px;
    background-image: url('.././img/requisition-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.requisition__box-message {
    margin-top: auto;
    padding: 28px 32px;
    border-radius: 25px;
    background-color: var(--colorPrimaryYellow);
}

.requisition__heading-message {
    margin-bottom: 18px;
    color: var(--colorBlack);
    font-size: 30px;
    font-weight: 700;
    color: #111;
    line-height: 30px;
}

@media (max-width: 1024px) {
    .requisition__container {
        flex-direction: column;
        gap: 64px;
    }

    .requisition__wrap-left {
        order: 1;
        max-width: 100%;
    }

    .requisition__wrap-right {
        order: 0;
        padding: 0;
        max-width: 100%;
    }

    .requisition__wrap-right {
        height: 530px;
    }

}

@media (max-width: 768px) {
    .requisition__form {
        padding: clamp(32px, 3vw, 40px) clamp(8px, 3vw, 42px);
    }
}

// anchor для формы
@media (max-width: 650px) {
    .anchor-requisition {
        padding-top: 97px;
        margin-top: -97px;
    }
}