.reviews {
    padding: 64px 0;
    background-color: var(--colorBg);
    // !test
    height: 500px;
}

.reviews__container {
}
.tagline {
}
.reviews__tagline {
}
.heading {
}
.reviews__heading {
}
.reviews__swiper-box {
}