.reviews {
    padding: 64px 0;
    background-color: var(--colorBg);
    // !test
    // height: 500px;
}

.reviews__container {
}
.tagline {
}
.reviews__tagline {
}
.heading {
}
.reviews__heading {
    margin-bottom: 40px;
}

.reviews__swiper-slide-img {
    border-radius: 25px;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}



.reviews__swiper-box {
}