.service-area {
    padding: 64px 0;
    background-color: var(--colorPrimaryBlue);
    color: var(--colorWhite);
}

.service-area__container {
}

.service-area__heading {
    margin-bottom: 32px;
}
.service-area__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 12px;
    column-gap: 8px;
    color: var(--colorGrey);
}
.service-area__item {
}
.service-area__link {
    transition: color .2s;
    &:hover,
    &:focus {
        color: var(--colorPrimaryYellow);
    }
}