.service {
    padding-top: var(--paddigTopSections);
    padding-bottom: calc(var(--paddigBottomSections) + 24px);
}

.service__heading {
    margin-bottom: 8px;
}

.service__discriptions {
    margin-bottom: 32px;
    max-width: 950px;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    row-gap: 36px;
    column-gap: 24px;
}

.service__link {

    &:hover .service-card::before,
    &:focus .service-card::before {
        opacity: 0.2;
    }

    &:hover .service-card .service-card__text-details,
    &:focus .service-card .service-card__text-details {
        color: var(--colorPrimaryYellow);
    }
}

.service-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 21px;
    min-height: 324px;
    border-radius: 25px;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    background:
        // общий слой
        radial-gradient(at top left, rgb(8, 45, 83, 0.9) 100%, #ffffff00 100%),
        url('.././img/cart.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.service-card-decor::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
        radial-gradient(at top left, rgba(255, 255, 255, 0) 74%, #0000000d 76%, rgba(255, 255, 255, 1) 76.3%);
    opacity: 0.1;
    transition: opacity .1s;
}

.service-card::after {
    content: "";
    position: absolute;
    bottom: -21px;
    right: 138px;
    width: 42px;
    height: 42px;
    background-image: url(.././img/circle.svg);
    background-repeat: no-repeat;
}

.service-card__heading {
    position: relative;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 600;
    color: var(--colorWhite);
}

.service-card__discriptions {
    position: relative;
    margin-bottom: 10px;
    color: var(--colorWhite);
}

.service-card__cost {
    position: relative;
    margin-top: auto;
    color: var(--colorWhite);
}

.service-card__cost-bold {
    font-weight: 600;
}

.service-card__text-details {
    position: relative;
    text-decoration: underline;
    text-align: right;
    text-underline-offset: 3px;
    font-size: 13px;
    font-weight: 600;
    color: var(--colorWhite);
    transition: color .3s;
}

.service-card-offer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 34px;
    height: 100%;
    min-height: 324px;
    border-radius: 25px;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    background:
        radial-gradient(at top left, rgba(255, 255, 0, 0) 74%, #0000000d 76%, rgba(255, 255, 255, 0.2) 76%),
        radial-gradient(at top left, var(--colorPrimaryYellow) 100%, rgba(255, 255, 255, 0) 100%);
}

.service-card-offer__heading {
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.service-card-offer__link {
    position: relative;
    display: block;
    padding: 15px 0 15px 0;
    width: 100%;
    border-radius: 25px;
    background: #082D53;
    color: var(--colorWhite);
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    transition: background-color .1s;

    &:hover,
    &:focus {
        background-color: var(--colorSecondaryBlue);
    }

    &:active {
        background-color: var(--colorSecondaryBlue2);
    }
}


@media (max-width: 566px) {
    .service__heading {
        margin-bottom: 16px;
    }

    .service-card__discriptions {
        max-width: 70%;
    }

    .service-card {
        padding-top: 40px;
        min-height: 234px;
    }

    .service-card::after {
        right: 232px;
    }

}