.service-area {
    padding-top: var(--paddigTopSections);
    padding-bottom: var(--paddigBottomSections);
    background-color: var(--colorPrimaryBlue);
    color: var(--colorWhite);
}

.service-area__heading {
    margin-bottom: 32px;
}
.service-area__list {
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: space-around;
    row-gap: 12px;
    column-gap: 8px;
    color: var(--colorGrey);
}
.service-area__link {
    display: block;
    transition: color .2s;
    &:hover,
    &:focus {
        color: var(--colorPrimaryYellow);
    }
}

@media (max-width: 768px) {
    .service-area__list {
        grid-template-columns: repeat(3,auto);
    }
}

@media (max-width: 500px) {
    .service-area__list {
        grid-template-columns: repeat(2, auto);
    }
}