.single-service {
    padding-top: calc(var(--paddigTopSections) - 16px);
    padding-bottom: var(--paddigBottomSections);
}

.single-service__heading {
    margin-bottom: 24px;
}

.single-service__text-wrap {
    min-height: 400px;
}

.single-service__img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
}

.single-service__text-processing {
    //   text-indent: 4%;
}

.single-service__text-processing p {
    padding: 5px 0 5px 0;
}

.single-service__text-processing ol,
.single-service__text-processing ul {
    padding-left: 40px;
}


.single-service__text-processing h2 {
    padding: 10px 0 10px 0;
    font-size: clamp(18px, 6vw, 28px); 
    font-weight: 700;
}

.single-service__text-processing h3 {
    padding: 10px 0 10px 0;
    font-size: clamp(17px, 6vw, 24px); 
    font-weight: 700;
}

@media (max-width: 650px) {
    .single-service__img {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }
}