.single-service {
    padding-top: calc(var(--paddigTopSections) - 16px);
    padding-bottom: var(--paddigBottomSections);
}

.single-service__heading {
    margin-bottom: 24px;
}

.single-service__text-wrap {
    min-height: 400px;
}

.single-service__img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
}

.single-service__text {
    //   text-indent: 4%;
}

@media (max-width: 650px) {
    .single-service__img {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }
}