.steps__wrap {
    padding-bottom: 32px;
    width: 100%;
    background:
        linear-gradient(rgb(8, 45, 83, 0.9) 100%, #ffffff00 0%),
        url(.././img/steps.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.steps__container {
    padding-top: var(--paddigTopSections);
    padding-bottom: var(--paddigBottomSections);
}

.steps__tagline {
    color: var(--colorWhite);
}

.steps__tagline::before {
    background-color: var(--colorWhite);
}

.steps__heading {
    color: var(--colorWhite);
}

.steps__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 16px;
    padding: 42px 0;
}

.card-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    ;
    border-radius: 25px;
}

.card-step__img {
    margin-bottom: 21px;
    max-width: 118px;
    max-height: 128px;
}

.card-step__heading {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
    color: var(--colorWhite);
}

.card-step__discriptions {
    text-align: center;
    color: var(--colorWhite);
}

.steps__wrap-btn {
    margin-top: -32px;
    padding-bottom: 40px;
}

.steps__btn {
    font-size: clamp(27px, 5vw, 35px);
    font-weight: 600;
    width: 100%;
    background-color: var(--colorPrimaryYellow);
    color: var(--colorBlack);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    transition: color, background-color .2s;

    &:hover,
    &:focus {
        background-color: var(--colorHoverBtn);
    }

    &:active {
        background-color: var(--colorHoverBtn2);
    }
}

@media (max-width: 1024px) {
    .steps__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .steps__list {
        grid-template-columns: repeat(1, 1fr);
    }
}