.work {
  padding-top: var(--paddigTopSections);
  padding-bottom: calc(var(--paddigBottomSections));
  background-color: var(--colorWhite);
}

.work__heading {
  margin-bottom: 40px;
}

.work__slider-box {
  padding: 0 48px;
}

.work__slide {
  width: var(--work-slider-width);
}

.work__swiper-slide-img {
  height: 246px;
}

@media (max-width: 1024px) {
  .work__slider-box {
    padding: 0 0;
  }

  .f-carousel {
    --f-button-next-pos: 6px;
    --f-button-prev-pos: 6px;
  }
}

@media (max-width: 768px) {
  :root {
    --work-slider-count: 2;
  }
}

@media (max-width: 500px) {
  .work__swiper-slide-img {
    height: 100%;
  }

  :root {
    --work-slider-count: 1;
  }
}