.work {
    padding: 64px 0;
    background-color: var(--colorWhite);
    // !test
    height: 500px;
}

.work__container {
}
.tagline {
}
.work__tagline {
}
.heading {
}
.work__heading {
}
.work__swiper-box {
}